<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjXmcamF1w8CA9VD3J_znrbSLadBJz8aM</string>
	<key>GCM_SENDER_ID</key>
	<string>953302317765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist2025</string>
	<key>PROJECT_ID</key>
	<string>todolist2025-54189</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist2025-54189.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953302317765:ios:ec720f6ebc16343daa4eac</string>
</dict>
</plist>